*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  background-color: #10141E;
  
}
.NavBar{
  display: flex;
  flex-direction: column;
  padding: 35px 28px 32px 28px;
  background-color: #161D2F;
  position: fixed;
  border-radius: 24px;
  align-items: center;
  margin-left: 32px;
  margin-top: 32px;
}
.NavIcon{
  width: 32px;
  height: 25px;
  margin-bottom: 75px;
  cursor: pointer;
}
.NavNavigate{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 250px;
}
.NavNavigate img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.AccountIcon{
    width: 40px ;
    height: 40px;
    cursor: pointer;
}
.Search{
  display: flex;
  gap: 24px;
  margin-left: 164px;
  margin-top: 64px;
}
.Search img{
  width: 32px;
  height: 32px; 
}
.Search input{
  padding: 0;
  width: 330px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 24px;
  color: white;
  line-height: 30px;

background-color:#10141E;}

.Trending{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 164px;
  margin-top: 34px;
}
.Trending p{
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: white;
} 
.Trending span{
  display: flex;
  gap: 20px;
}

.TrendCard1{
  width: 430px;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  padding: 154px 250px 24px 24px;
  background: url(../public/TrendCard1.svg) no-repeat;
}
.TrendCard2{
  width: 430px;

  display: flex;
  border-radius: 12px;
  flex-direction: column;
  padding: 154px 250px 24px 24px;
  background: url(../public/TrendCard2.svg) no-repeat;
}
.TrendCard3{
  width: 430px;

  display: flex;
  border-radius: 12px;
  flex-direction: column;
  padding: 154px 250px 24px 24px;
  background: url(../public/TrendCard3.svg) no-repeat;
}

.Trending span div img{
  position: absolute;
  margin-left: 350px;
  margin-top: -140px;
  cursor: pointer;
}
.Trending span div h1{
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  color: white;
  opacity: 0.75;
}
.Trending span div h2{
  font-size: 24PX;
  font-weight: 400;
  line-height: 30px;
  color: white;
  margin-top: 3px;
}
.ForMe{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 164px;
  gap: 32px;
}
.ForMe p{
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
  color: white;
}
.ForMe span{
  display: flex;
  gap: 40px;
}
.ForMe span div{
  display: flex;
  flex-direction: column;
}
.CardSave{
  position: absolute;
  margin-left: 232px;
  margin-top: 16px;
}
.ForMe span div h1{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: white;
  margin-top: 8px;
  opacity: 0.75;
}
.ForMe span div h2{
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: white;
  margin-top: 5px;
}